{% extends "base.html" %}
{% block page_content %}
<div class="container-fluid my-5 mx-0 px-0" id="Bio">
  <div class="row align-items-center">
    <div class="col-lg-6 d-flex justify-content-center" id="sep">
      <img src="/static/img/perf.jpg" 
      class="img-fluid" 
      alt="Foto de perfil" id="perf">
    </div>
    <div class="col-lg-6">
      <p class="lead">
        <span class="lead fw-bold">Lorem</span>, ipsum dolor sit amet consectetur adipisicing elit. 
        Esse, voluptatibus vero quod distinctio magnam ab rem. 
        Tempore veniam praesentium magni quisquam, eos amet, 
        dignissimos dolorum, asperiores itaque assumenda nihil omnis!
      </p>
    </div>
  </div>
</div>
{% endblock %}