{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    /***NOMBRE Y APELLIDO***/
.portada {
    font-family: Fantasy;    
    color: white;
    max-width: clamp(500px, 80vw, 700px);
    text-align: start;
    margin-left: 10%;
}

/***ESQUINERO SUPERIOR IZQ***/

.esquinero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: clamp(300px, 40vh, 700px); /* Altura dinámica */
    padding: 10px;
    white-space: nowrap;
}

/* Tamaño Responsivo para los Textos */
#nomape {
    font-size: clamp(3.7rem, 6vw, 5.5rem);
    font-weight: bold;
}

#titulo {
    font-size: clamp(3.7rem, 6vw, 5.5rem);
    font-weight: bold;
}

#subtitulo {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: normal;
}

.rectangulo {
    background-color: white;
    height: 20px;
    width: 400px;
    padding-top: 10px;
    
}

#vertical {
    height: 250px;
    width: 20px;
    border-radius: 0% 0% 50% 50%;
}

#horizontal {
    border-radius: 0% 50% 50% 0%;
}

/***SEPARADOR LINEA FINA***/
.separador {
    border: 3px solid white;
    margin: 5%;
    border-radius: 50% 50% 50% 50%;
}

/***BOTONERA***/
.btn-custom {
    width: 100%;
    max-width: 100px;
    height: 50px;
    font-size: clamp(0.9rem, 2vw, 1.0rem);
    text-align: center;
    white-space: nowrap;
}

/* Asegura espaciado entre los botones */
.row > div {
    padding: 3px; /* Espacio entre botones */
}


/***miscelaneos***/


/***FOTO PERFIL Y LOGO ***/
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(300px, 40vh, 500px);
}
.logo-img {
    max-width: 110%;
    max-height: 110%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

.contenedor-fotoperf {
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(300px, 40vh, 500px);
    margin-bottom: 5%;
}

.fotoperf {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

</style>
<!-- ESPACIO HOME  -->>
<div class="row align-items-center">
    <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="esquinero">
            <div class="rectangulo" id="horizontal">
                <h1 class="portada" id="nomape">{{ datos.persona.nombres}}</h1>
                <h2 class="portada" id="titulo"> {{ datos.persona.apellido }}</h2>
                {% for titulo in titulos %}
                <h3 class="portada" id="subtitulo"> {{titulo.nombre}}</h3>
                {% endfor %}
                <div class="separador"></div>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary btn-custom">BIO</button>
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary btn-custom">ESTUDIOS</button>
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary btn-custom">TRABAJOS</button>
                    </div>
                    <div class="col-6 col-md-3 d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary btn-custom">CONTACTOS</button>
                    </div>
                </div>
            </div>
            <div class="rectangulo" id="vertical"></div>
        </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block"></div>
    <div class="col-lg-4 col-md-5 col-12 d-md-flex d-none justify-content-center">
        <div class="logo-container">
            <img src= "{{ datos.logo }}" alt="iconoplanta" class="logo-img">
        </div>
    </div>
</div>

<!-- ESPACIO BIO  -->>
<div class="row mt-5">

    <style>
    
    #horizontal-inv{
        border-radius: 50% 0% 0% 50%;
        
        margin-left: -1.5%;
    }
    #vertical-inv{
        height: 250px;
        width: 20px;
        border-radius: 0% 0% 50% 50%;
        top: 10%;
    }
    #medio{
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 5%;
        border: 5px solid white;
    }
    .texto{
        color: white;
        margin-top: 5%;
    }
    #subtexto{
        margin-top: 3%;
    }
    #nomape2 {
        margin-left: 0%; 
        margin-top: 20px;
        font-size: 80px;
    }
    
    </style>
    <div class="d-flex row mt-5 justify-content-center">
        <div class="col-6">
            <div class="separador" id="medio"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 col-md-5 col-12 d-md-flex d-none justify-content-center">
            <div class="contenedor-fotoperf">
                <div class="fotoperf">
                    <img src= "{{ fotoperf }}" alt="iconoplanta" class="fotoperf">
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <div class="texto">
                <h1 class= "portada" id="nomape2">
                    {{ datos.persona.nombres}} {{ datos.persona.apellido}}
                </h1>
                <h4>{{ texto_uno.texto }}
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-11">
            <div class="texto" id="subtexto">
                <h4>
                    {{ texto_dos.texto }}
                </h4>
            </div>
        </div>
    </div>        
</div>

<!-- ESPACIO ESTUDIOS -->>
<div class="row mt-5">

    <style>
    .icono {
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(50px, 40vh, 150px);
    margin-bottom: 10%;
    }

    .avatarimg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    }
    
    .container{ 
        justify-content: center;
        align-items: center;
    }
    .text-center{
        color: white;
    }
    
    </style>
    
    <div class="d-flex row mt-5 justify-content-center">
        <div class="col-6">
            <div class="separador" id="medio"></div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="text-center">
                lorem ipsum
            </div>
        </div>
        <div class="row">
            {% for estudio in estudios %}
            <div class="col-xl-2 d-md-flex d-none justify-content-center">
                <div class="container d-flex justify-content-center flex-column">
                    <div class="icono">
                        <a href="{{ estudio.urlEstablecimiento }}">
                            <img src= "{{ estudio.avatarImg }}" alt="avatarImg" class="avatarimg">
                        </a>
                    </div>
                    <div class="text-center">
                        {{ estudio.establecimiento}}
                    </div>
                    <div class="text-center">
                        {{ estudio.titulo }}
                    </div>
                    <div class="text-center">
                        {{ estudio.inicio }} - 
                        {% if estudios.final == null %}
                        En Curso
                        {% else %}
                        {{ estudio.final }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ESPACIO TRABAJOS -->>
<div class="row mt-5">
    <style>
    span{
        color: white;
    }
    .contenedor {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
    }
    .lista-contenedor {
        width: 300px; /* Ancho fijo */
        height: 250px; /* Alto fijo */
        overflow-y: auto; /* Habilita scroll vertical */
        border: 2px solid white;
        padding: 10px;
        background-color: #333;
        color: white;
    }
    .lista-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid white;
        cursor: pointer; /* Indica que es interactivo */
    }
    .lista-item:hover {
        background-color: rgba(255, 255, 255, 0.2); /* Efecto hover */
    }
      /* Contenedor de imagen */
      .imagen-contenedor {
        width: 300px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        background-color: #222;
    }

    .imagen {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        display: none; /* Oculta todas las imágenes inicialmente */
    }

    .imagen.mostrada {
        display: block; /* Solo se muestra la imagen activa */
    }
    </style>
    
    <div class="d-flex row mt-5 justify-content-center">
        <div class="col-6">
            <div class="separador" id="medio"></div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="text-center">
                Trabajos Hechos
            </div>
        </div>
        <!-- Cuadro de Lista -->
    <div class="lista-contenedor">
        {% for trabajo in trabajos %}
        <div class="lista-item" data-img="{{ trabajo.avatarImg }}">
            <span><a href="{{trabajo.urlTrabajo}}">{{ trabajo.nombre }}</a></span>
        </div>
        {% endfor %}
    </div>
    <!-- Cuadro de Imagen -->
    <div class="imagen-contenedor">
        {% for trabajo in trabajos %}
        <img src="{{ trabajo.avatarImg }}" alt="{{ trabajo.nombre }}" class="imagen" id="img-{{ forloop.counter }}">
        {% endfor %}
    </div>       
    </div>

    <script>
        // Seleccionar todos los elementos de la lista y las imágenes
        const listaItems = document.querySelectorAll('.lista-item');
        const imagenes = document.querySelectorAll('.imagen');
    
        // Evento para cambiar la imagen al pasar el mouse sobre la lista
        listaItems.forEach((item, index) => {
            item.addEventListener("mouseenter", () => {
                imagenes.forEach(img => img.classList.remove("mostrada")); // Oculta todas las imágenes
                const imagenActiva = document.querySelector(`.imagen[src="${item.dataset.img}"]`);
                if (imagenActiva) {
                    imagenActiva.classList.add("mostrada"); // Muestra la imagen correspondiente
                }
            });
        });
    </script>
</div>

<!-- ESPACIO REDES SOCIALES -->>
<div class="row mt-5">
    <style>
        .icono-sm{
            border: 1px solid white;
            width: 75px;
            height: 75px;
        }
        
    </style>
    <div class="d-flex row mt-5 justify-content-center">
        <div class="col-6">
            <div class="separador" id="medio"></div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="text-center">
                lorem ipsum
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-5 col-sm-12 d-flex justify-content-center mt-4 mt-lg-0">
                <div class="logo-container">
                    <img src="{% static 'img/iconoplanta2.jpg' %}" alt="iconoplanta" class="logo-img">
                </div>
            </div>
            <div class="col-xl-5">
                <div class="container">
                    <div class="row align-items-start">
                        <div class="col-xl-3 mt-3">
                            <div class="container d-flex justify-content-center flex-column">
                                <div class="icono-sm">
                                </div>
                                <div class="text-center">
                                    lorem ipsum
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mt-3">
                            <div class="container d-flex justify-content-center flex-column">
                                <div class="icono-sm">
                                </div>
                                <div class="text-center">
                                    lorem ipsum
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mt-3">
                            <div class="container d-flex justify-content-center flex-column">
                                <div class="icono-sm">
                                </div>
                                <div class="text-center">
                                    lorem ipsum
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mt-3">
                            <div class="container d-flex justify-content-center flex-column">
                                <div class="icono-sm">
                                </div>
                                <div class="text-center">
                                    lorem ipsum
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mt-3">
                            <div class="container d-flex justify-content-center flex-column">
                                <div class="icono-sm">
                                </div>
                                <div class="text-center">
                                    lorem ipsum
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 flex-column">
                <div class="text-center">
                    lorem ipsum
                </div>
                <div class="text-center">
                    dolor sit amet
                </div>
                <div class="text-center">
                    1122-3344
                </div>
    
            </div>
        </div>
        <div class="d-flex row mt-5 justify-content-center">
            <div class="col-4">
                <div class="separador" id="medio"></div>
                <div class="text-center">
                    © 2025 Todos los derechos reservados.
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}