{% extends "base.html" %}
{% block content %}

<div class="fondo-container d-flex align-items-end" id="intro">
        <div class="rectangulo" id="mediano"></div>
        <div class="rectangulo" id="largo"></div>
        <div class="titulo-container align-self-center w-100">
            <h1 class="titulo">¡Bienvenido!</h1>
            <h2>Lorem ipsum dolor sit amet</h2>
            <a href="/home">
                <button type="button" class="btn btn-info btn-lg" id="start">¡Empezemos!</button>
            </a>
        </div>
        
</div>
{% endblock %}