{% extends "index.html" %}
{% block content %}

<div class="fondo-container d-flex align-items-end" id="intro">
        <div class="rectangulo" id="mediano"></div>
        <div class="rectangulo" id="largo"></div>
        <div class="titulo-container align-self-center w-100">
            <h1 class="titulo">¡Hola, soy<br>Diego Amezaga!</h1>
            <h2><strong>Diseño</strong> y <strong>Desarrollo</strong> sitios WEB</h2>
            <a href="/home">
                <button type="button" class="btn btn-info btn-lg" id="start">¡Empezemos!</button>
            </a>
        </div>
</div>
{% endblock %}