/***PLANTILLA CSS CUSTOMIZADA***/

/***FONDOS***/

    .fondo-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: flex-end;
    }
    .fondo-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    filter: brightness(90%) contrast(150%);
    opacity: 0.2;
    z-index: 0;
    }

    #intro::before {
        background: url('/static/img/planta.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    #home::before {
        background: url('/static/img/future.png') no-repeat center center fixed;
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-size: cover;
        filter: brightness(1.1) contrast(0.85) saturate(1.2) blur(1px);
        opacity: 0.8;
    }

/***ELEMENTOS DEL HOME***/
    
    .rectangulo{
        width: 105px;
        background-color: rgb(233, 190, 85);
        opacity: 1;
        filter: brightness(100%) contrast(100%);
    }
    #mediano{
        height: 50%;
        background-color: rgb(111, 151, 206);
        align-self: flex-end;
        margin-left: 20vw;
    }
    #largo{
        height: 100%;
        width: 85px;
    }
    .titulo-container{
        margin-left: 3vw;
    }
    .titulo{
        font-size: clamp(2rem, 5vw, 7rem);
    }

    .btn{
        opacity: 1;
        filter: brightness(100%) contrast(100%);
    }
